@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap");

h1 {
  font-family: Lexend;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 33, 33);
  width: 100%;
}
.text-input {
  color: white;
  background-color: #00000000;
  border: none;
  border-bottom: solid gray 1px;
  outline: 0;
  margin: 12px;
}

section {
  display: flex;
  width: 80%;
  flex-direction: column;
  background-color: rgb(30, 48, 48);
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 2px 2px 2px 2px #00000040;
  margin: 10px;
}

#search {
  margin-bottom: 0.5rem;
  border-radius: 1px;
}
.submit-button {
  border: none;
  box-shadow: 2px 2px 2px 2px #00000040;
  color: white;
  background-color: rgb(58, 83, 83);
  border-radius: 10px;
  padding: 4px;
  margin: 0.4rem;
}
.submit-button:hover {
  background-color: rgb(64, 96, 96);
}
form {
  display: flex;
  flex-direction: column;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
