* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 20px;
}
